$primary-color: rgb(54, 5, 54);
.search {
    display: flex;
    justify-content: center;
    &--form {
        padding: 2 rem;
        margin-top: 5rem;
        &-label {
            display: block;
            text-align: center;
            border-bottom: 1rem;
            font-size: 3.5rem;
            color: $primary-color;
        }
        &-input {
            height: 6rem;
            width: 35rem;
            font-size: 3rem;
            border-radius: 1rem;
            padding: 0.5rem;
            border: 0.4rem solid $primary-color;
            outline: none;
            &:focus {
                border: 0.4rem solid magenta;
            }
        }
    }
}

.remove-focus {
    pointer-events: none;
}